Q1. List any five functions of the pandas library with execution.

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Create a DataFrame
data = {'Name': ['John', 'Jane', 'Sara'],
        'Age': [25, 30, None],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Drop rows with missing values
clean_df = df.dropna()

# Group by Name and calculate the average age
grouped_df = df.groupby('Name').mean()

# Sort by Age in descending order
sorted_df = df.sort_values('Age', ascending=False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd

import pandas as pd

def reindex_dataframe(df):
    # Reset the index with a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    df = df.reset_index(drop=True)
    df.index = new_index

    return df

In [5]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Call the reindex_dataframe function
reindexed_df = reindex_dataframe(df)

reindexed_df

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [6]:
import pandas as pd
def calculate_sum(df):
  first_three_value = df['Value'].iloc[:3]
  sum = first_three_value.sum()
  print("Sum of the first three values:", sum)

In [7]:
data = {'Value':[10,20,30,40,50]}
df = pd.DataFrame(data)

calculate_sum(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def add_word_count_column(df):
    # Create a new column 'Word_Count' and calculate the word count using a lambda function
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

    return df

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {'Text': ['Hello, how are you?', 'I am doing great!', 'Python is awesome']}
df = pd.DataFrame(data)

# Call the add_word_count_column function
df = add_word_count_column(df)

print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1    I am doing great!           4
2    Python is awesome           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
The DataFrame.size method returns the total number of elements in the DataFrame.
The DataFrame.shape attribute returns a tuple representing the dimensions of the DataFrame.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('data.xlsx')

df = pd.read_excel('data.xlsx', sheet_name='Sheet2')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [11]:
import pandas as pd

def extract_username(df):
    # Extract the username from each email address using a lambda function and str.split()
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])

    return df

In [12]:
import pandas as pd

# Create a sample DataFrame
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com']}
df = pd.DataFrame(data)

# Call the extract_username function
df = extract_username(df)

print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [13]:
import pandas as pd

def select_rows(df):
    # Select rows based on the condition
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows

In [14]:
# Create a sample DataFrame
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Call the select_rows function
selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [15]:
def calculate_statistics(df):
    # Calculate the mean, median, and standard deviation of the 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()

    return mean_value, median_value, std_value

In [16]:
# Create a sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the calculate_statistics function
mean, median, std = calculate_statistics(df)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [17]:
import pandas as pd

def calculate_moving_average(df):
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

In [18]:

# Create a sample DataFrame
data = {'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'Date': pd.date_range(start='2023-01-01', periods=10)}
df = pd.DataFrame(data)

# Call the calculate_moving_average function
df = calculate_moving_average(df)

print(df)

   Sales       Date  MovingAverage
0     10 2023-01-01           10.0
1     20 2023-01-02           15.0
2     30 2023-01-03           20.0
3     40 2023-01-04           25.0
4     50 2023-01-05           30.0
5     60 2023-01-06           35.0
6     70 2023-01-07           40.0
7     80 2023-01-08           50.0
8     90 2023-01-09           60.0
9    100 2023-01-10           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [19]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Add the 'Weekday' column containing the weekday names
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

In [20]:
# Create a sample DataFrame
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Call the add_weekday_column function
df = add_weekday_column(df)

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [21]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Select rows where the date is between '2023-01-01' and '2023-01-31'
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

    return selected_rows

In [22]:
# Create a sample DataFrame
data = {'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-31']}
df = pd.DataFrame(data)

# Call the select_rows_between_dates function
selected_df = select_rows_between_dates(df)

print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
3 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [23]:
import pandas as pd